.pagination-block {
  margin-bottom: 100px;
  display: flex;
  margin-top: 20px;
}

.pagination {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.active {
  background-color: #0069d9;
  color: white;
  border: 1px solid #0069d9;
  cursor: block;
  pointer-events: none;
  text-decoration: none;
}

.pagination :hover:not(.active) {
  background-color: #ddd;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
